$bg-color: #64748b;
$blue-color: #3498db;

body{
    background-color: $bg-color;
}

    .card {
        background-color: white;
        padding: 20px;
        border-radius: 10px;

        &:hover{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        &:active{
            border: 2px solid $blue-color;
    }
        
        & .card-header {
        font-size: 1.5rem;
        font-weight: bold;
    }

        & .card-header:hover {
        color: $blue-color;
    }

        & .card-content {
        font-size: 1rem;
        line-height: 1.5;
    }
}
    