html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

.page-footer {
    background-color: aliceblue;
    color: black;
}
.page-body {
    flex-grow: 1;
    text-align: center;
}

.title{
    font-size: 2em;
    text-align: center;
}

body{
    color: #b9b9b9;
    background-color: #3B272D;
    margin: 0;
    padding: 0;
}

.vertical-menu {
    height: 100%;
    width: 1em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.vertical-menu:hover{
    width: 10em;
}

.vertical-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.vertical-menu a:hover {
    color: #f1f1f1;
}

.vertical-menu a.active {
    color: #f1f1f1;
}

.babs img{
    width: 60em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50em;
    border: #111 solid;
}

.quick-tips{
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.quick-tips > p{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 10px;
    color: black;
}

@media screen and (max-width: 480px) {
    .vertical-menu {padding-top: 15px; width: 13px;}
    .page-body{margin: 15px;}
    .title{font-size: 23px; margin: 15px;}
    .babs img{width: 20em;}
    .vertical-menu:hover {padding-top: 15px; width: 350px;}
    .vertical-menu a {font-size: 18px;}
}