@use "bootstrap/scss/bootstrap" as *;

h1{
    font-size: 90px;
}

.btn-primary{
    background-color: rgb(21, 35, 114);
}

.btn-secondary{
    background-color: green;
}

.card{
    border: 1px solid red;
}