<p class="m-2 text-3xl">Comonentes de ejemplo :3</p>

<h2 class="text-xl ml-6 font-bold">Carta para comentarios</h2>
<mat-card class="m-4" appearance="raised">
    <div class="flex">
        <img class="m-2 border-1" src="/images/teto.png" mat-card-avatar>
        <span class="mt-5 font-bold">Kasane Teto</span>
    </div>
    
    <mat-card-content>パッと全部忘れて

        いやなことからは逃れて
        
        誰にも言えないくらいの
        
        だらしない夜で踊りましょう
        
        
        
        最悪また間違えた
        
        ボクがこの世に何したってんだ
        
        こんなに一生懸命生きて
        
        社会の糧になってるてのに
        
        
        
        「生きているだけでえらいネ」
        
        ↑そんな訳がないだろいい加減にしろ
        
        ハイ というわけで今夜は
        
        全て投げ出しベッドでゴロゴロゴロゴロと
        
        
        
        あぁダメになっちまうよ
        
        一生このままずっと寝ていたいな
        
        気付けば朝の8時←なんで！？
        
        もう起きて支度←こんなの何が楽しいんだよ
        
        
        
        やんなっちゃう！マジやんなっちゃう！
        
        ゴミみたいな世の中←オサラバだ！
        
        もうテンパっちゃう！マジテンパっちゃう！
        
        合理的かだなんて知るかよバカ！
        
        
        
        ずっと踊れずっと
        
        ボクが良ければ全てOKさ！
        
        あぁほらもっと踊れもっと
        
        衝動的行動でほらほらほらほら
        
        
        
        パッと全部忘れて
        
        いやなことからは逃れて
        
        誰にも言えないくらいの
        
        だらしない夜で踊りましょう
        
        
        
        さあ パッと全部忘れて
        
        いやなことからは逃れて
        
        誰にも言えないくらいの
        
        だらしない夜で踊りましょう
        
        
        
        相変わらずの天気と
        
        この世に蔓延る魑魅魍魎が
        
        僕のことを見ている(気がする)
        
        所謂これがモテ期ってやつか
        
        
        
        「君が愛すならそれでいい」
        
        ↑そんな訳がないだろいい加減にしろ
        
        ハイ！というわけで今日も今日とて
        
        千鳥足のまま 123死！　
        
        
        
        やんなっちゃう！マジやんなっちゃう！
        
        キミは僕に何を言いたいわけ？
        
        もうテンパっちゃう！マジテンパっちゃう！
        
        冷や汗が止まんない←ただのザコ(笑)
        
        
        
        ずっと踊れずっと
        
        僕が良ければ全てOKさ
        
        あぁほらもっと踊れもっと
        
        衝動的行動でまだまだまだまだ
        
        
        
        
        
        やんなっちゃう　マジやんなっちゃう
        
        明日が来ないことは無いのにさ
        
        でもずっとでもまだずっと
        
        踊って忘れてたい
        
        そうだろ？
        
        
        
        だからやんなっちゃう！マジやんなっちゃう！
        
        ゴミみたいな世の中←オサラバだ！
        
        もうテンパっちゃう！マジテンパっちゃう！
        
        合理的かだなんて知るかよバカ！
        
        
        
        ずっと踊れずっと
        
        ボクが良ければ全てOKさ！
        
        あぁほらもっと踊れもっと
        
        衝動的行動でほらほらほらほら
        
        
        
        パッと全部忘れて
        
        いやなことからは逃れて
        
        誰にも言えないくらいの
        
        だらしない夜で踊りましょう
        
        
        
        さぁパッと全部忘れて
        
        いやなことからは逃れて
        
        誰にも言えないくらいの
        
        だらしない夜で踊りましょう</mat-card-content>

    <mat-card-actions>
        <div class="ml-5">
            <button>
                <svg class="w-7 h-7 fill-black hover:fill-[#cf569b] transition-colors" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1.24264 8.24264L8 15L14.7574 8.24264C15.553 7.44699 16 6.36786 16 5.24264V5.05234C16 2.8143 14.1857 1 11.9477 1C10.7166 1 9.55233 1.55959 8.78331 2.52086L8 3.5L7.21669 2.52086C6.44767 1.55959 5.28338 1 4.05234 1C1.8143 1 0 2.8143 0 5.05234V5.24264C0 6.36786 0.44699 7.44699 1.24264 8.24264Z"></path> </g></svg>
            </button>
        </div>

        <div class="ml-3">
            <button>
                <svg class="w-7 h-7 fill-black hover:fill-[#3276c3] transition-colors" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M60,0H4C1.789,0,0,1.789,0,4v40c0,2.211,1.789,4,4,4h8v12 c0,1.617,0.973,3.078,2.469,3.695C14.965,63.902,15.484,64,16,64c1.039,0,2.062-0.406,2.828-1.172L33.656,48H60c2.211,0,4-1.789,4-4 V4C64,1.789,62.211,0,60,0z"></path> </g></svg>
            </button>
        </div>
    </mat-card-actions>
</mat-card>

<h2 class="text-xl ml-6 font-bold">Lista para añadir cosicas</h2>
<mat-form-field class="ml-5 example-chip-list w-full">
    <mat-label>Juegos chulis</mat-label>
    <mat-chip-grid #chipGrid aria-label="Pon games bien chulos">
      @for (game of games(); track game) {
        <mat-chip-row
          (removed)="remove(game)"
          [editable]="true"
          (edited)="edit(game, $event)"
          [aria-description]="'press enter to edit ' + game.name"
        >
          {{game.name}}
          <button matChipRemove [attr.aria-label]="'remove ' + game.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        placeholder="Pon un juegico chulo :3"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </mat-form-field>

  <h2 class="text-xl ml-6 font-bold mb-5">Barrita de cargado</h2>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>




<!-- https://material.angular.io/components/card/overview -->