body {
    display: grid;
    background-color: gray;
    grid-template-areas: 
    "header header header"
    "main random mrbabu-navegation";
    grid-template-columns: 50% 50% 20%;
    justify-content: center;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
    }
    header {
    grid-area: header;
    padding: 20px;
    background-color: rgb(110, 26, 26);
    text-align: center;
    }
    aside {
    grid-area: mrbabu-navegation;
    background-color: #e9ecef;
    border-right: black solid 1px;
    padding: 20px;
    }
    main {
    grid-area: main;
    padding: 20px;
    
    }

    .random{
        grid-area: random;
    }
    footer{
    grid-area: footer;
    background-color: black;
    color: antiquewhite;
    position: sticky;
    text-align: center;
    bottom: 0;
    }