@use "bootstrap/scss/bootstrap" as *;

.custom-alert {
    @extend .alert; 
}

.custom-card {
    @extend .card; 
}

.custom-btn {
    @extend .btn;
    @extend .btn-primary;
}

.custom-paragraph {
    @extend .text-secondary;
}

.custom-table {
    border: solid 1px red;

    td, th {
        border: solid 1px red;
        background-color: gray;
        color: white;
    }
}

.custom-badge  {
    background-color: rgb(196, 25, 159);
    color: white;
    font-size: 32px;
}